.Root {
  height: calc(100dvh - 100px);
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  background-color: var(--background);
}

.Table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: visible;
}

.Header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.Header th {
  background-color: var(--muted);
}

.WhiteSpaceNoWrap {
  white-space: nowrap;
}

.SpacerCell {
  padding: 0;
  border: none;
}
